<div id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand" href="#page-top"><%= image_tag("logo.png") %></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#petitmot">Petit mot</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#program">Programme</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#infos">Infos pratques</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>

        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text vcenter">
                        <h1 class="name text-center" style = "font-family: 'Amatic SC', cursive;">Inés & Ben</h1>
                        <span class="skills">30 Juin 2018</span>
                    </div>
                </div>
            </div>
        </div>

    </header>





<!-- About Section -->
    <section class="" id="petitmot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style = "padding-bottom: 60px">
                    <h2 style="font-family: 'Amatic SC', cursive;">Un petit mot pour vous <i style = "padding-left: 20px; color: #B9B3D9"class="fa fa-heart" aria-hidden="true"></i></h2>

                </div>
            </div>
            <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
            <%= image_tag("selfie.jpg", class: "img-responsive yogime") %>
            </div>

                <div class="col-xs-12 col-md-7 col-lg-7 col-lg-offset-1">


                    <p class ="paragraphs text-justify" style="padding-top: 20px">Bienvenue à tous sur le site de notre mariage. Vous trouverez ici toutes les infos necessaires pour vous organiser au mieux.
                    </p>
                    <br>

                    <p class = "paragraphs text-justify">On est super heureux à l'idee de vivre ce moment avec vous tous. Nous voulons célébrer notre amour et notre engagement avec vous, mais nous voulons également que cela soit un moment de rassemblement entre tous les gens qui nous sont chers, famille et amis, au dela des milieux, croyances et origines.
                    </p>

                     <br>
                     <p class = "paragraphs text-justify">
                     Quoi de mieux comme cadre que la pinède de Ceyreste ? Nous sommes tombés sous le charmes du domaine de Gros driou, que nous aurons pour nous tous le week-end.
                    </p>

                </div>
            </div>

            <div class="row" id = "program">
                <div class="col-lg-12 text-center" style = "padding-top: 100px">
                    <h2 style="font-family: 'Amatic SC', cursive;">Programme <i style = "padding-left: 20px; color: #B9B3D9"
                      class="fas fa-hand-peace" aria-hidden="true"></i></h2>
                </div>
            </div>

             <div class = "text-center padded-top-30" style = "font-size: 20px">
                  C'est simple, tout se passe au même endroit !
                </div>

            <div class="row padded">
              <div class="col-xs-12 col-md-6 padded-top-30">
                <div class = "text-center title-prog padded-bottom-30">
                  Samedi 30 Juin 2018
                </div>

                <div class = "lines-program text-center">
                  à partir de 16h: On vous acceuille <i class="fas fa-smile violet"></i>
                </div>
                <div class = "lines-program text-center padded-top-15">
                  17h: Cérémonie dans la pinède <i class="fas fa-heart violet"></i>
                </div>
                <div class = "lines-program text-center padded-top-15">
                  > 18h: <i class="fas fa-glass-martini violet"></i> <i class="fas fa-utensils violet"></i> <i class="fas fa-music violet"> !!</i>
                </div>
                <div class="">

                </div>
              </div>

               <div class="col-xs-12 col-md-6 padded-top-30">
                <div class = "text-center title-prog padded-bottom-30">
                  Dimanche 1er Juillet 2018
                </div>

                <div class = "lines-program text-center">
                  A partir de 12h: brunch "Un dimanche a Bamako"
                </div>

                 <div class = "lines-program text-center padded-top-15">
                  On vous attend avec une tenue / un accessoire en rapport avec le thème :) faites péter le wax !
                  </div>
                <div class = "lines-program text-center padded-top-15">
                  Piscine, Pétanque, Slackline et autres divertissements. Prenez vos maillots de bain !<br>
                </div>

                </div>
              </div>
            </div>


        </div>
    </section>


    <!-- About Section -->
    <section class="success" id="infos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style = "padding-bottom: 60px">
                    <h2 style="font-family: 'Amatic SC', cursive;">Infos pratiques</h2>


                </div>
            </div>
            <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
            <%= image_tag("grosdriou.png", class: "img-responsive yogime") %>
            </div>

                <div class=" col-xs-12 col-md-7 col-lg-7 col-lg-offset-1">


                    <p class ="paragraphs text-justify" style="padding-top: 20px; font-size: 28px; font-weight: bold">Le Lieu
                    </p>
                    <br>

                    <p class = "paragraphs text-justify"> Le Domaine de Gros Driou est un lieu magique situé à Ceyreste, entre Aix-en-Provence, Marseille et Toulon.
                    </p>

                     <br>
                     <p class = "paragraphs text-justify">
                     Pas de problème de voisins ou d'horaires à respecter, nous aurons le domaine tout le weekend rien que pour nous :)
                    </p>

                    <p class ="paragraphs text-center" style="padding-top: 20px">

                      <a style = "font-weight:bold" target= blank href="https://www.google.fr/maps/place/Gros+Driou/@43.2463227,5.6982254,16.15z/data=!4m5!3m4!1s0x12c9a716bcec4df9:0x1c2e63efed4a0255!8m2!3d43.2500929!4d5.7010729">Cliquez ici pour la localisation éxacte</a>
                    </p>

                </div>
            </div>


               <div class="row" style = "padding-top: 50px;">
            <div class="col-lg-4 col-md-4 col-xs-12">
            <%= image_tag("velo.jpg", class: "img-responsive yogime") %>
            </div>

                <div class=" col-xs-12 col-md-7 col-lg-7 col-lg-offset-1">


                    <p class ="paragraphs text-justify" style="padding-top: 20px; font-size: 28px; font-weight: bold">Transport
                    </p>
                    <br>

                    <p class = "paragraphs text-justify">  En train: Le plus simple est de prendre le TGV jusqu'a Marseille ou Toulon et ensuite de venir en voiture (plein d'options pour louer dans les 2 gares). Cela vous prendra à peu prés 45 minutes de route que ca soit de Marseille ou de Toulon.
                    </p>

                     <p class = "paragraphs text-justify">
                     Le domaine est un peu difficile d'accés et il est conseillé de venir en voiture depuis la gare.
                    </p>

                    <p class = "paragraphs text-justify">
                    Si vous venez en avion, l'aéroport le plus proche est l'aéroport Marseille Provence à Marignane, il faut compter 1h de route jusqu'au Gros Driou.
                    </p>
                </div>
            </div>



             <div class="row" style = "padding-top: 50px;">
            <div class="col-lg-4 col-md-4 col-xs-12">
            <%= image_tag("tente.jpg", class: "img-responsive yogime") %>
            </div>

                <div class=" col-xs-12 col-md-7 col-lg-7 col-lg-offset-1">


                    <p class ="paragraphs text-justify" style="padding-top: 20px; font-size: 28px; font-weight: bold">Logement
                    </p>
                    <br>

                    <p class = "paragraphs text-justify">
                    Il y a pleins d'options d'Airbnb / Chambres d'hôtes dans la région (Cassis, la Ciotat, le Castellet, la Cadière d'azur). Pour des raisons pratiques, on vous a selectionné les 3 hotels les plus proches du Gros Driou.
                    </p><br>

                    <p class = "paragraphs text-justify" style = "font-weight: bold">
                    - Grand Prix Hôtel & Restaurant (*** avec piscine) <br>
                    +33 (0) 494 888 080 ; reservations@grandprixhotel.fr ; <br>
                    <a href = "www.grandprixhotel.fr" style = "color: #B9B3D9"> voir le site </a>
                  </p>


                    <p class = "paragraphs text-justify">
                    Vous pouvez réserver en précisant que c'est pour le mariage d'Inès et Ben, la chambre passe à 110€ petit dej inclus (au lieu de 156/170€) <br>
                    à 15 min en voiture du Gros Driou
                    </p>
                    <br>


                    <p class = "paragraphs text-justify" style = "font-weight: bold">
                    - Logis Auberge du Camp ; +33 (0)494907152 ; www.logishotels.com
                    </p>

                    <p class = "paragraphs text-justify">
                    chambre à partir de 65€ la nuit ; Vous pouvez réserver en précisant que c'est pour le mariage d'Inès et Ben, à 10 min en voiture du Gros Driou.
                    </p>

                    <br>
                    <p class = "paragraphs text-justify" style = "font-weight: bold">
                    - Camping L'Arbois du Castellet </p>

                    <p class = "paragraphs text-justify">
                     arbois@capfun.com ; +33 (0)4 94 90 70 51 ; minimum deux nuits ; demander les prix en direct car hors saison et non fixes ; à 12 min en voiture du Gros Driou.
                    </p>


                </div>
            </div>


             <div class="row" style = "padding-top: 50px;">
            <div class="col-lg-4 col-md-4 col-xs-12">
            <%= image_tag("sugiton.jpg", class: "img-responsive yogime") %>
            </div>

                <div class=" col-xs-12 col-md-7 col-lg-7 col-lg-offset-1">


                    <p class ="paragraphs text-justify" style="padding-top: 20px; font-size: 28px; font-weight: bold">On dirait le sud ...
                    </p>
                    <br>

                    <p class = "paragraphs text-justify">
                    Pourquoi ne pas profiter de notre mariage pour rester quelques jours dans la région ? Elle est si belle et il y a tant de choses à voir et à faire. Voici une petite liste d'idées.
                    </p><br>

                    <p class = "paragraphs text-justify" style = "font-weight: bold; text-decoration:underline;">
                    Marseille <br></p>
                    <p class = "paragraphs text-justify">
                    Plus qu'une simple ville, Marseille est un voyage. Mélange de cultures, d'accents, de parfums et de couleurs. Pour les amoureux de nature, baignade, randonnee, escalade et VTT, le parc national des calanques est un formidable terrain de jeu. A 40 minutes en voiture du Gros Driou.<br>
                    </p>

                    <div class = "padded-top-30">
                    <p class = "paragraphs text-justify" style = "font-weight: bold; text-decoration:underline;">
                    Pays Aixois <br></p>
                    <p class = "paragraphs text-justify">
                    À deux pas des ruelles fières et cossues de la cité aixoise, les premiers contreforts de la Sainte-Victoire, montagne chère à Cézanne sur le plateau de Bibémus dévoilent sa silhouette. Beaucoup de possibilité de ballades à pied ou à vélo dans la région. 1h de route depuis le gros driou.<br>
                    </p>
                    </div>

                    <div class = "padded-top-30">
                    <p class = "paragraphs text-justify" style = "font-weight: bold; text-decoration:underline;">
                    Villages de la région: Cassis, le Castelet, la Cadière d'Azur etc... <br></p>
                    <p class = "paragraphs text-justify">
                    Autant de petits villages provencaux, au bord de la mer ou non ou vous pouvez trouver des petits auberges de charme et votre petit coin de paradis. A 20 minutes du Gros Driou.<br>
                    </p>
                    </div>


                </div>
            </div>



        </div>
    </section>

    <!-- Contact Section -->

<section id = "contact">

<div class = "container">
<div class="row">
                <div class="col-lg-12 text-center" style = "padding-bottom: 40px">
                    <h2 style="font-weight: lighter; font-family: 'Amatic SC', cursive;">Contact / RSVP</h2>
                </div>

                <div class = "padded-top-30 text-center" style = "font-size: 20px">
                  Une question sur l'organisation, les logements, la région ? Envoyez-nous un email ou appelez nous !
                </div>

                <div class = "padded-top-15 text-center padded-bottom-30" style = "font-size: 20px; font-weight: bold">
                  Merci également de nous confirmer votre présence avant le 15 Avril 2018.
                </div>
            </div>
  <div class="text-center">
  <!-- <h3 style="font-weight: lighter; padding-bottom: 30px">Contactez moi pour connaitre le calendrier de mes cours</h2> -->
  <a style="text-decoration: none; color:black; font-weight: lighter"><h4 style="font-weight: normal padding-top:30px; font-size: 16px;"><i class="fas fa-envelope" style= "color: #B9B3D9"></i>      inesetben@gmail.com</h4></a>
  <br>
  <a href="https://www.instagram.com/yoginesvds" target="_blank" style="text-decoration: none; color:black; font-weight: lighter"><h4 style="font-weight: normal padding-top:30px; font-size: 16px;"><i class="fas fa-phone" style= "color: #B9B3D9"></i></i> 07 79 82 74 83 / 06 14 96 71 90</h4></a>
<!--   <h4 style="font-weight: normal">+33 7 79 82 74 83</h4> -->
  </div>
</div>
</section>


<div class = "padded-bottom-60">

<div class="row ">
                <div class="col-lg-12 text-center" style = "padding-bottom: 40px">
                    <h2 style="font-weight: lighter; font-family: 'Amatic SC', cursive; font-size: 46px">Music !</h2>
                </div>

                <div class = "padded-top-30 text-center padded-bottom-30" style = "font-size: 20px">
                  Vous pouvez ajouter vos musiques préféréesr directement a la playlist ci dessous !
                </div>
</div>

<div class = "text-center">
<iframe src="https://open.spotify.com/embed/user/benjamin.bavuz/playlist/6y9LfSYZVl4ksxcSNEqXie" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>

</div>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</div>

</html>


